body{
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box; 
}

/* PERZONALIZACION DEL HEADER */

header {
    color: white;
    padding: 20px; 
    background-color: #0b2e47;
}

nav ul{
    display:flex;
    padding: 0;
    justify-content: center;
    list-style: none;
}

nav ul li {
    font-size: 25px;
    margin: 0 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: yellow;
    transition: ease;
}


/* PERZONALIZACION DE LA INTRODUCCION */

.intro {
    width: 70%;
    margin: 0 auto;
}

.subtitulo {
    padding-top: 20px;
    text-align: center;
    color: black;
}

h1{
    text-align: center;
    font-size: 40px; 
    padding-top: 10px;
    color:orangered;
}

.intro p{
    font-size: 20px;
    color: white;
    font-weight:bold
}

.intro a{
    color:yellow;
}

/* PERZONALIZACION DE SECCIONES */

.ventana{
    background-color: #6e5136;
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 50px;
}

h2{
    text-align: center;
    font-size: 30px;
    color: yellow
}

.ventana p {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

li {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.img{
    margin-bottom: 5px;
    margin: 25px 25px;
}

img {
    width: 100%;
    border-radius: 35px;
}

/* PERZONALIZACION DE FOOTER */

footer{
    background-color: #04111a;
    padding: 5px;
    text-align: center;
    color: white;
}